In [12]:
import pandas as pd
import numpy as np

## Data Cleaning

- Load Data
- Calculate yield curve slope and Y/Y changes in relevant columns

In [74]:
#Missing Commodity Index Data
data = pd.read_csv('data/data.csv', index_col=0)
data.index = pd.to_datetime(data.index)
#Forward fill - for GDP data which is quarterly. No interpolation
data = data.fillna(method = 'ffill')

In [75]:
data['YC_Slope'] =  data.TNX - data.IRX

In [76]:
data.head()

,TNX,US_Corp,LIBOR,CPI,BAA,UNRATE,SPY,IRX,RGDP,YC_Slope
Date,,,,,,,,,,
1990-01-01,8.43,444.728182,8.349432,132.1,9.94,5.4,NaN,7.74,9358.289,0.69
1990-02-01,8.51,442.467368,8.365625,132.7,10.14,5.3,NaN,7.77,9358.289,0.74
1990-03-01,8.65,443.525217,8.491477,133.5,10.21,5.2,NaN,7.80,9358.289,0.85
1990-04-01,9.04,443.443500,8.569902,134.0,10.30,5.4,NaN,7.79,9392.251,1.25
1990-05-01,8.60,446.916818,8.475447,134.4,10.41,5.4,NaN,7.75,9392.251,0.85

In [79]:
#Fill in Y/Y changes
YY_cols = ['CPI', 'RGDP']
data[[x + '_YY' for x in YY_cols]] = data[YY_cols].shift(1)/data[YY_cols]

#Drop null rows
data = data.dropna()

In [80]:
data.head()

,TNX,US_Corp,LIBOR,CPI,BAA,UNRATE,SPY,IRX,RGDP,YC_Slope,CPI_YY,RGDP_YY
Date,,,,,,,,,,,,
1993-01-01,6.39,626.328571,3.346875,150.1,8.67,7.3,43.93750,2.90,9850.973,3.49,0.996669,0.998329
1993-02-01,6.03,639.633500,3.238672,150.6,8.39,7.1,44.40625,2.95,9850.973,3.08,0.996680,1.000000
1993-03-01,6.03,652.064783,3.240150,150.8,8.15,7.0,45.18750,2.89,9850.973,3.14,0.998674,1.000000
1993-04-01,6.05,656.734762,3.226562,151.4,8.14,7.1,44.03125,2.91,9908.347,3.14,0.996037,0.994210
1993-05-01,6.16,658.671905,3.243421,151.8,8.21,7.1,45.21875,3.06,9908.347,3.10,0.997365,1.000000

In [31]:
data.query('TNX > 6.39 & US_Corp > 684')

              TNX      US_Corp     LIBOR    CPI   BAA  UNRATE         SPY
Date
1994-03-01  6.774   684.651304  3.877378  155.3  8.13     6.5   44.593750
1995-02-01  7.210   694.397368  6.261719  159.4  8.85     5.4   49.015625
1995-03-01  7.189   709.248261  6.268682  159.9  8.70     5.4   50.109375
1995-04-01  7.046   720.167000  6.236111  160.4  8.60     5.8   51.593750
1995-07-01  6.429   764.038500  5.897880  161.4  8.04     5.7   56.156250
1996-04-01  6.633   794.759546  5.493946  164.6  8.19     5.6   65.390625
1996-05-01  6.844   792.749091  5.496652  165.0  8.30     5.6   66.875000
1996-06-01  6.711   791.897143  5.569727  165.4  8.40     5.3   67.109375
1996-07-01  6.790   798.948182  5.640286  165.7  8.35     5.5   64.093750
1996-08-01  6.936   813.626522  5.527344  166.0  8.18     5.1   65.328125
1996-09-01  6.699   809.884500  5.617746  166.5  8.35     5.2   68.625000
1996-12-01  6.407   850.467143  5.551759  167.4  7.89     5.4   73.843750
1997-01-01  6.503   843.275909  5.565341  167.8  8.09     5.3   78.406250
1997-02-01  6.535   856.112105  5.510157  168.1  7.94     5.2   79.156250
1997-03-01  6.907   847.586500  5.624590  168.4  8.18     5.2   75.375000
1997-04-01  6.702   843.465454  5.830079  168.9  8.34     5.1   80.093750
1997-05-01  6.663   857.671364  5.819141  169.2  8.20     4.9   85.156250
1997-06-01  6.502   873.165238  5.841890  169.4  8.02     5.0   88.312500
1999-12-01  6.435  1001.323913  6.126563  178.7  8.19     4.0  146.875000
2000-01-01  6.667   992.559524  6.039156  179.3  8.33     4.0  139.562500
2000-02-01  6.409  1002.363333  6.099762  179.4  8.29     4.1  137.437500