In [211]:
import pandas as pd
import numpy as np
from scipy.spatial.distance import mahalanobis as maha

## Data Cleaning

- Load Data
- Calculate yield curve slope and Y/Y changes in relevant columns


#### Data Definitions
- TNX: US 10y Treasury
- US_Corp: ML US Corporate Bond Total Return Index
- LIBOR: 3m LIBOR Rate
- BAA: Moody's long-term corporate bond yields index
- UNRATE: US seasonally-adjusted unemployment rate
- SPY: S\&P 500 Index
- IRX: US 3m treasury rate
- RGDP: US seasonally-adjusted Real GDP

In [207]:
#Missing Commodity Index Data
data = pd.read_csv('data/data.csv', index_col=0)
data.index = pd.to_datetime(data.index)

In [208]:
#Linear Interpolation Forward fill - for GDP data which is quarterly
#Could potentially want to only use quarterly data - set lin_interp = False
lin_interp = False

if lin_interp:
    data['RGDP'] = data['RGDP'].interpolate()
else:
    data = data.dropna(subset = ['RGDP'])

In [209]:
#Yield Curve Slope: 10y yields - 3m yields
data['YC_Slope'] =  pd.eval('data.TNX - data.IRX')
#Credit Spread: long-term BAA (corp bonds) - 10y treasury rate
data['Cred_Spread'] = pd.eval('data.BAA - data.TNX')

In [210]:
#Fill in Y/Y changes
YY_cols = ['CPI', 'RGDP']
data[[x + '_Growth' for x in YY_cols]] = data[YY_cols]/data[YY_cols].shift(1) - 1

#Drop null rows
data = data.dropna()

#Subtract mean
# data = data - data.mean()

## Defining Scenarios

- Define a scenario with a boolean string. Make sure to use spaces between operators (for calculation of mahalanobis distances.
- Filtering on this scenario, we calculate the Mahalanobis distance
- We then convert scenario Mahalanobis distance into likelihood measure:
$$ e^{\frac{-d}{2}}$$
- Rescale probabilities to sum to 1

In [255]:
#Define scenario, use spaces between operators for ease of parsing.
scenario = 'RGDP_Growth <= 0.01 & UNRATE >= 6'

#Get relevant variables from the scenario defined above.
scenario_vars = [v.split(' ')[0] for v in scenario.split(' & ')]

#Filter data on the above scenario - not sure if useful or not...
scen_data = data.query(scenario)[scenario_vars]

#Get the empirical mean & correlation matrix of scenario vars
v = data[scenario_vars].mean().values
scen_corr = data[scenario_vars].corr()

#Calculate mahalanobis distance, transform to likelihood measure
data['L_1'] = data[scenario_vars].apply(lambda x: np.exp(-maha(x ,v, scen_corr)/2), raw = True, axis = 1)

#Rescale for likelihood
data['Prob_1'] = data['L_1'].dropna()/data['L_1'].sum()
# data['Prob_1'] = data['Prob_1'].fillna(0)
data.Prob_1

Date
1993-01-01    0.007402
1993-04-01    0.008183
1993-07-01    0.009043
1993-10-01    0.009513
1994-01-01    0.010511
1994-04-01    0.011619
1994-07-01    0.013492
1994-10-01    0.015674
1995-01-01    0.014360
1995-04-01    0.015669
1995-07-01    0.015091
1995-10-01    0.013657
1996-01-01    0.014356
1996-04-01    0.014343
1996-07-01    0.013654
1996-10-01    0.011751
1997-01-01    0.012357
1997-04-01    0.011172
1997-07-01    0.010112
1997-10-01    0.009153
1998-01-01    0.008706
1998-04-01    0.007493
1998-07-01    0.008279
1998-10-01    0.008277
1999-01-01    0.007493
1999-04-01    0.007494
1999-07-01    0.007491
1999-10-01    0.006776
2000-01-01    0.006453
2000-04-01    0.005832
                ...
2012-04-01    0.004721
2012-07-01    0.004720
2012-10-01    0.005764
2013-01-01    0.005219
2013-04-01    0.006371
2013-07-01    0.007406
2013-10-01    0.007785
2014-01-01    0.010500
2014-04-01    0.012841
2014-07-01    0.012840
2014-10-01    0.015094
2015-01-01    0.015092
2015-04-01    0.012990
2015-07-01    0.011758
2015-10-01    0.010641
2016-01-01    0.010118
2016-04-01    0.010638
2016-07-01    0.009625
2016-10-01    0.010118
2017-01-01    0.009155
2017-04-01    0.007880
2017-07-01    0.007494
2017-10-01    0.006781
2018-01-01    0.006782
2018-04-01    0.006135
2018-07-01    0.006136
2018-10-01    0.005839
2019-01-01    0.006450
2019-04-01    0.005282
2019-07-01    0.005553
Name: Prob_1, Length: 107, dtype: float64

In [261]:
scenario_1 = 'RGDP_Growth <= 0.01 & UNRATE >= 6'
scenario_2 = 'RGDP_Growth '

l_1 = np.exp(-maha(np.array([float(v.split(' ')[2]) for v in scenario_1.split(' & ')]), v, scen_corr))

0.809301438739453

                 RGDP       RGDP
Date
1993-01-01   9850.973   9850.973
1993-04-01   9908.347   9908.347
1993-07-01   9955.641   9955.641
1993-10-01  10091.049  10091.049
1994-01-01  10188.954  10188.954
1994-04-01  10327.019  10327.019
1994-07-01  10387.382  10387.382
1994-10-01  10506.372  10506.372
1995-01-01  10543.644  10543.644
1995-04-01  10575.100  10575.100
1995-07-01  10665.060  10665.060
1995-10-01  10737.478  10737.478
1996-01-01  10817.896  10817.896
1996-04-01  10998.322  10998.322
1996-07-01  11096.976  11096.976
1996-10-01  11212.205  11212.205
1997-01-01  11284.587  11284.587
1997-04-01  11472.137  11472.137
1997-07-01  11615.636  11615.636
1997-10-01  11715.393  11715.393
1998-01-01  11832.486  11832.486
1998-04-01  11942.032  11942.032
1998-07-01  12091.614  12091.614
1998-10-01  12287.000  12287.000
1999-01-01  12403.293  12403.293
1999-04-01  12498.694  12498.694
1999-07-01  12662.385  12662.385
1999-10-01  12877.593  12877.593
2000-01-01  12924.179  12924.179
2000-04-01  13160.842  13160.842
...               ...        ...
2012-04-01  16198.807  16198.807
2012-07-01  16220.667  16220.667
2012-10-01  16239.138  16239.138
2013-01-01  16382.964  16382.964
2013-04-01  16403.180  16403.180
2013-07-01  16531.685  16531.685
2013-10-01  16663.649  16663.649
2014-01-01  16616.540  16616.540
2014-04-01  16841.475  16841.475
2014-07-01  17047.098  17047.098
2014-10-01  17143.038  17143.038
2015-01-01  17277.580  17277.580
2015-04-01  17405.669  17405.669
2015-07-01  17463.222  17463.222
2015-10-01  17468.902  17468.902
2016-01-01  17556.839  17556.839
2016-04-01  17639.417  17639.417
2016-07-01  17735.074  17735.074
2016-10-01  17824.231  17824.231
2017-01-01  17925.256  17925.256
2017-04-01  18021.048  18021.048
2017-07-01  18163.558  18163.558
2017-10-01  18322.464  18322.464
2018-01-01  18438.254  18438.254
2018-04-01  18598.135  18598.135
2018-07-01  18732.720  18732.720
2018-10-01  18783.548  18783.548
2019-01-01  18927.281  18927.281
2019-04-01  19021.860  19021.860
2019-07-01  19122.060  19122.060

[107 rows x 2 columns]